<html lang="en">
  <head>
    <!-- Do not forget to change the path to the css file -->
    <link rel="stylesheet" />
    <title>Home Page</title>
  </head>

  <body>
    <!-- In case of error, you should display div with class "error" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

    <!-- <div class="error">
        <p>Error message - 1</p>
        <p>Error message - 2</p>
    </div> -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <!-- Do not forget to change the path to the images -->

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <!-- Guest users and Logged users -->
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>

            <!-- Logged users -->
            <ng-container *ngIf="user">

              <li class="nav-item">
                <a class="nav-link" href="/catalog">Offers</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/create">Create Offert</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile/{{user}}">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ng-container>
            <!-- Guest users -->
            <ng-container *ngIf="!user">

            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </nav>

    <main>
      <section id="home-page" class="py-5">
        <div style="height: 15vh"></div>
        <div class="container home">
          <h1>Dream Car</h1>
          <div>
            <p class="lead">
              "Because the greatest part of trip isn't arriving at your
              destination."
            </p>
            <p class="lead">
              "It's all the wild stuff that happens along the way..."
            </p>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
